/*General adjustments*/

h1 {
    color: blue;
}

h2 {
    background-color: grey; /* Background color */
    text-align: center; /* Text-align */ 
}
.Name {
    text-align: center; /* Text-align */ 
}

.Guide {
    text-align: center; /* Text-align */ 
}

html {
    background-color: bisque; /* Background colo r*/
}

@media (max-width: 1000px) {
    .section {
      margin: 0 auto !important; /* Margin */
      padding: 0 !important; /* Some padding */
  
    }
}

section > div {
    font-style: italic;
      }

/* Main Page*/

.Quote {
    text-align: center; /* Text-align */ 
    padding-left: 100px; /* Some padding */
}


.Headshot {
    align-items: center;
    padding-left: 400px; /* Some padding */
    width: 600px; /* Full width */
    height: 600px; /* Full Height */
}
/* About me adjustments */

.Aboutme-description {
    text-align: center; /* Text-align */ 
}

.aboutme-sub-title {
    text-align: center; /* Text-align */ 
}

.Football {
    align-items: center;
    padding-left: 400px; /* Some padding */ 
    width: 600px; /* Full width */
    height: 600px;  /* Full Height */
}
.row {
    display: flex;
  }
  
.column {
    flex: 33.33%;
    padding: 5px; /* Some padding */ 
  }

.Family {
    align-items: center;
    padding-left: 400px; /* Some padding */ 
    width: 600px; /* Full width */
    height: 600px; /* Full Height */
}

article {
    display: grid;
    grid-template: 
    "one two three" auto;
    gap: 1cm;
    align-items: center;
    padding-left: 3cm;
}

.grid_one {
    grid-area: one;
}

.grid_two {
    grid-area: two;
}

.grid_three {
    grid-area: three;
}


/*Portfolio Page*/

.Project-sub-title {
    text-align: center;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #080808; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #0d0e0e;/* background color*/
    color: bisque;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;/* background color*/
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color:bisque ;
    padding: 20px;
  }
/*Home adjustment*/